.container-alunos {
    margin-top: 20px;
}

.container-alunos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    
}

.container-alusnos div+div {
    border-top: 1px solid #d0d0d0;
}